/*global*/
* {
	margin:0 auto;
	padding:0;
}
li {
	list-style:none;
}
img {
	border:0;
    vertical-align:middle;
}
body {
	font-family: Calibri, Arial, Helvetica, sans-serif;
	background:none;
	text-align:justify;
	text-justify:inter-ideograph;
	height:100%;
}
a:link, a:visited, a:hover{
     color:#000;
     text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000;
}

a:active {
	text-decoration: none;
	color: #f08300;
}
a:hover {
	text-decoration: underline;
	color: #f08300;
}
a {
	font-size: 12px;
	color: #FFFFFF;
}

/*layout*/
#header {
	width:1280px;
	height:238px;
	background:url(img/header.jpg) no-repeat;
	margin:0 auto;
    overflow:hidden;
}
#content{
    background:url(img/content.jpg) no-repeat;
    width:1280px;
    height:680px;
    margin:0 auto;
    overflow:hidden;
	position:relative;
}
#main {
	width:925px;
	height:auto;
	margin:0 180px 0 175px;;
	background:none;
    overflow:hidden;
}
.top{
	position:absolute;
	top:46px;
	left:457px;
	width:663px;
	height:60px;
	background:url(img/top.jpg) no-repeat;
	overflow:hidden;
}
.top a{
	float:right;
	width:80px;
	height:80px;
	display:block;
	margin-right:60px;
}
#footer {
	background:url(img/footer.jpg) no-repeat;
    width:1280px;
    height:53px;
    margin:0 auto;
    overflow:hidden;
}

.left{
    float:left;
    width:272px;
    background:#dcdcdc;
	overflow-x:hidden;
}
.right{
    float:right;
    width:653px;
}
.tab{
   background:url(img/left.jpg) no-repeat;
   width:272px;
   height:285px;

}
ul{
    padding:68px 0 0 0px;
}
ul li{
    line-height:42px;
    display:block;
    width:215px;
    height:47px;
    text-align:center;
    cursor:pointer;
}
ul li a{
    font-size:14px;
    font-weight:bold;
	color:#fff!important;
	text-decoration:none!important;}
ul li.on{
    background:url(img/on.gif) no-repeat;
    width:215px;
    height:47px;
    color:#000;
}
ul li a:hvoer{
	text-decoration:none!important;
}
ul li.on a{
	color:#000!important;
}
#box{
    height:28px;
    background:#7d97a4;
    width:485px;
}
 .none{
     display:none;
 }
 #textbox{
    height:415px;
    overflow-x:auto;
	overflow-y:auto;
	scrollbar-face-color:#a6a6a6;
	scrollbar-hightlight-color: #bdbdbd;
	scrollbar-shadow-color:#a6a6a6; 
	scrollbar-3Dlight-color: #bdbdbd; 
	scrollbar-arrow-color: #ffffff; 
	scrollbar-track-color:#c1c0c0; 
	scrollbar-darkshadow-color:#a6a6a6;
	padding-left:20px;
 }
 #textbox dl{
	padding:0 0 20px 0; 
 }
 #textbox dt{
	font-size:16px;
	color: #f08300;
    line-height:0;
	padding:18px 0 10px;
 }
#textbox dd{
	padding-left:15px;
	line-height:22px;

}
.copy{
	background:#dcdcdc;
	width:616px;
	height:85px;
	margin:10px;
	padding:7px;
}
.copy p{
	font-size:14px;
	line-height:22px;
}

